* {
    font-family: Roboto;
    font-size: 18px;
}

/* specificity 1 - 10 */

body {
    display: flex;
    flex-direction: column;
    

    min-height: 100vh;
}

h1 {
    font-size: 48px;
    font-weight: 900;

    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

header {
    display: flex;
    flex: auto;

    justify-content: center;
    align-items: center;
    gap: 15px;

    padding-bottom: 30px;
    min-width: auto;
}

footer {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    color: #F9FAF8;
}

body div {
    display: flex;
    flex: 1;

    padding-left: 10%;
    padding-right: 10%;
}


/* specificity 10 - 100 */

.signup {
    color: #F9FAF8;
    background-color: #3882F6;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    border: none;
    min-width: 120px;
    min-height: 40px;
    padding: 0;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    text-align: center;
    max-width: min-content;
}

.card img {
    min-height: 150px;
    min-width: 150px;
    max-width: 150px;
    border: solid;
    border-color: #3882F6;
    border-radius: 15px;
}

.signup button {
    border: solid;
    border-color: #E5E7EB;
    margin-right: 40px;
}

/* specificity 100 - 110 */

#contact {
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact-info {
    display: flex;
    flex-direction: column;

    margin: 20px;
    margin-left: 0;
    padding-left: 20px;
}

#contact-info * {
    padding: 0px;
    margin: 0;
}

#cards {
    display: flex;
    flex-direction: column;

    align-items: center;

    min-width: min-content;
    color: #E5E7EB;
    padding-top: 10px;
    padding-bottom: 100px;
}

#hero {
    background-color: #1F2937;
    color: #E5E7EB; /*This is literally NOT the color from the image, what's up with the sheet?*/

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;
    padding-bottom: 8%;
}

#quote{
    display: flex;
    flex-direction: column;

    background-color: #E5E7EB;
    padding-top: 10%;
    padding-bottom: 10%;
}

#quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

    padding: 0;
    margin: 0;
}

/* specificity 110 - 200 */

#quote .signature {
    text-align: end;


    font-size: 18px;
    font-weight: bolder;
    font-style: normal;
}

#cards .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: flex-start;
    gap: 70px;
}

#hero .image {
    color: #1F2937;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    background-color: #E5E7EB;
    min-height: 300px;
}

#hero .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    gap: 30px;

    padding-top: 30px;
    padding-bottom: 50px;
}


/* specificity 200 */

#hero #header-logo {
    font-size: 24px;
    margin-right: auto;

    color: #F9FAF8;
    font-weight: bolder;
}

#hero #presentation {
    display: flex;
    flex-direction: column;

    flex: 2 1;

    align-items: flex-start;
    padding-left: 0;
}